@import './common/header.scss';
@import './common/banner.scss';
@import './common/footer.scss';

// 用于产品中心的banner

.banner-container {
  height: 730px;
  @extend %circle;
  &::after {
    top: -100%;
    right: -57%;
  }
  .banner-left {
    padding-top: 140px;
    h2 span {
      line-height: 68px;
    }
  }
  .banner-right {
    height: 572px;
    width: 718px;
    position: absolute;
    top: 15px;
    right: -150px;
    z-index: 2;
    background: url("../image/product/banner.png") top right no-repeat;
    background-size: cover;
  }
}