@import './common/header.scss';
@import './common/footer.scss';
@import './common/banner.scss';
@import './common/common.scss';
@import './common/icons.scss';

.banner-container {
  .banner-right {
    width: 1157px;
    top: 0;
    left: 50%;
    transform: translateX(-139px);
    img {
      width: 100%;
    }
  }
  h2, h3, .banner-intra {
    // text-shadow: 2px 2px 2px $white;
  }
}

.customer-top {
  margin: 0 auto;
  .customer-wrap {
    display: flex;
    max-width: 860px;
    width: 70%;
    margin: 70px auto;
    font-size: $font18;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
  }
  .intra {
    margin-left: 12px;
    text-align: justify;
    vertical-align: middle;
  }
  img {
    width: 80px;
  }
}
.case {
  margin-top: 40px;
  background-color: $bgBlue;
  position: relative;
  .detail-con {
    position: relative;
    z-index: 5;
    .item {
      .pic {
        height: 42px;
        overflow: hidden;
      }
    }
  }
  .btns {
    padding-top: 30px;
    text-align: center;
  }
  .more {
    margin: 0 auto;
    @extend %buttonBlue;
  }
}
// 详情页开始
.detail {
  .banner-container {
    height: auto;
    background: $white;
    @extend %circle;
    .banner-tit {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .banner-con {
      height: auto;
    }
    .banner-left {
      h2, h3, .banner-intra {
        text-shadow: none;
      }
      display: block;
      width: 100%;
      text-align: center;
      padding-top: 10%;
      h3 {
        font-size: $font28;
        line-height: 37px;
        margin: 0;
      }
      h2 {
        line-height: 64px;
        margin-bottom: 27px;
      }
      .banner-bottom {
        position: relative;
        bottom: 0;
        margin-bottom: 101px;
        justify-content: center;
        .btn {
          @extend %buttonBlue;
        }
      }
    }
  }
  .detail-container {
    position: relative;
    z-index: 5;
    .detail-con {
      padding-bottom: 60px;
      color: $black65;
      font-size: $font20;
      text-align: left;
      line-height: 32px;
      p {
        margin-bottom: 18px;
      }
    }
    .recommend {
      text-align: center;
      a {
        display: inline-block;
        margin: 0 30px 20px;
      }
    }
  }
}
// 详情页结束

@media screen and (max-width:960px){
  .w1200 {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .banner-container {
    .banner-right {
      margin-top: 20px;
      width: 100%;
      background-size: 100%;
      transform: translateX(-50%);
    }
  }

  .customer-top {
    .intra {
      font-size: 18px;
      line-height: 36px;
    }
  }
}

@media screen and (max-width:378px){
  .customer-top .customer-wrap {
    display: block;
    img {
      margin-bottom: 20px;
    }
  }
}