@import './common/header.scss';
@import './common/footer.scss';
@import './common/banner.scss';
@import './common/icons.scss';
@import './detail.scss';


.banner-container {
  @extend %circle;
  &::after {
    top: -30%;
    right: -40%;
  }
  .banner-right {
    height: 702px;
    width: 789px;
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-184px);
    img {
      width: 100%;
    }
  }
}
.notice{
  width: 100%;
  background: #fff;
  .notice-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-between;
    .notice-item{
      width: 48.5%;
      min-height: 148px;
      margin-bottom: 40px;
      display: flex;
      padding: 40px 50px;
      position: relative;
      background-color: $light-blue;
      background-image: url("../image/common/flower.png");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 155px;
      &:hover {
        background-color: $dark-blue;
      }
      &:nth-child(2), &:last-child {
        margin-right: 0;
      }
      img{
        width: 196px;
        height: 163px;
      }
      .item-right {
        h4{
          font-size: $font22;
          font-weight: 600;
          color: #000;
          margin-bottom: 24px;
          position: relative;
          &::before {
            content:"";
            position:absolute;
            left:0;
            bottom:-10px;
            width:125px;
            height:1px;
            background:#1bd1d1;
          }
        }
        p {
          color: #767676;
          font-size: $font14;
          line-height: 25px;
          position: relative;
          i {
            color: $blue;
            margin-right: 10px;
            vertical-align: middle;
          }
        }
      }
      .item-more{
        border-top-left-radius: 100px;
        padding: 5px 6px 5px 33px;
        color: $white;
        font-size: $font12;
        position: absolute;
        right: 0;
        bottom: 0;
        background: $blue;
        cursor: pointer;
        .icon {
          margin-left: 15px;
          background-image: url("../image/common/icon-more.png");
        }
        &:hover {
          color: $white;
          background: #12C0C0;
        }
      }
    }
  }
  
  .btns {
    margin: 20px auto 70px;
    text-align: center;
    .btn {
      @extend %buttonBlue;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width:960px){
  .banner-container {
    .banner-right {
      height: auto;
      position: relative;
      margin-top: 20px;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .w1200 {
    padding: 0 40px;
  }
  .notice {
    .notice-list .notice-item {
      width: 100%;
    }
  } 
}