@import "./base.scss";

.banner-container {
  height: 730px;
  padding-top: 90px;
  background: #F5FCFD;
  position: relative;
  box-sizing: border-box;
  &.banner-circle {
    @extend %circle;
    &::after {
      top: -100%;
      right: -57%;
    }
  }
  .w1200 {
    position: relative;
  }
  .banner-tit {
    height: 200px;
    position: absolute;
    top: 0;
    left: -39px;
    z-index: 2;
    box-sizing: border-box;
    img {
      height: 100%;
    }
  }
  .banner-con {
    height: 640px;
    display: flex;
    z-index: 3;
    position: relative;
  }
  .banner-left {
    width: 35%;
    padding-top: 140px;
    position: relative;
    z-index: 4;
    color: $black85;
    text-align: left;
    h2 {
      font-size: $font48;
      margin-bottom: 20px;
      font-weight: 600;
      line-height: 1;
      span {
        display: block;
        color: $black85;
        font-size: $font28;
        line-height: 68px;
      }
    }
    h3 {
      font-size: $font36;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 50px;
    }
    .banner-intra {
      height: 160px;
      color: $black65;
      font-size: $font20;
      overflow: hidden;
    }
    .banner-bottom {
      display: flex;
      align-items: center;
      position: absolute;
      justify-content: center;
      bottom: 73px;
      left: 0;
      z-index: 6;
      .btn {
        @extend %buttonBlue;
        &.banner-service {
          margin-right: 26px;
        }
      }
    }
  }
  .banner-right {
    position: absolute;
    z-index: 2;
    img {
      width: 100%;
    }
  }
}

.banner-product {
  .banner-right {
    width: 718px;
    top: 15px;
    left: 50%;
    transform: translateX(56px);
  }
}

@media screen and (max-width:960px){
  .banner-container {
    height: auto;
    padding: 0 40px;
    .banner-con {
      display: block;
      height: auto;
    }
    .banner-left {
      width: 100%;
      padding-top: 40px;
      text-align: center;
      .banner-intra {
        height: auto;
      }
      .banner-bottom {
        position: relative;
        margin-top: 40px;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
    .banner-right {
      top: 20px;
      width: 100%;
      position: relative;
      left: 0;
      right: 0;
      img {
        width: 100%;
      }
    }
  }
}