body {
  font: "12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif";
}
a, a:hover {
  text-decoration: none;
}

%flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

$black: #000;
$black65: rgba($color: $black, $alpha: .65);
$black85: rgba($color: $black, $alpha: .85);
$blue: #1BD1D1;
$light-blue: rgba($color: $blue, $alpha: 0.06);
$dark-blue: rgba($color: $blue, $alpha: 0.12);
$white: #fff;
$gray: #757575;
$gray-smoke: #595959;

$bgBlue: #F5FCFD;

$font48: 48px;
$font36: 36px;
$font32: 32px;
$font28: 28px;
$font24: 24px;
$font22: 22px;
$font20: 20px;
$font18: 18px;
$font16: 16px;
$font14: 14px;
$font12: 12px;

$cols: 100%;
$cols2-l: 586px;
$cols2: 490px;
$cols3: 380px;
$cols4: 280px;
$cols5: 224px;


%button {
  display: block;
  width: 144px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  border-radius: 22px;
  font-size: $font18;
  font-weight: 600;
  cursor: pointer;
  span {
    margin-right: 12px;
  }
  i {
    font-size: $font16;
    vertical-align: middle;
  }
  transition: transform 500ms;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  &:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateY(-8px) translate3d(0,0,0);
  }
}
%buttonBlue {
  @extend %button;
  color: $white;
  background: $blue;
}
%buttonWhite {
  @extend %button;
  color: $blue;
  background: $white;
}
%box {
  background: #FFFFFF;
  box-shadow: 0px 2px 16px 0px rgba(0, 182, 176, 0.2);
  &:hover {
    box-shadow:0 4px 24px 0 rgba($color: #00B6B0, $alpha: .3)
  }
}
%circle {
  &::after {
    content: '';
    padding-top: 100%;
    width: 100%;
    display: block;
    border-radius: 50%;
    background-color: rgba($color: #43F2F4, $alpha: .14);
    opacity: .39;
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-12.6%);
    z-index: 1;
  }
}


.w65 {
  width: 65%;
}
.w78 {
  width: 78%;
}
.w1200 {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.bg-blue {
  background: $bgBlue;
}

@media screen and (max-width:1100px){
  $cols2: 48.5%;
  $cols3: 32%;
}

@media screen and (max-width:378px){
  $cols2: 98%;
  $cols3: 98%;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}