@import './base.scss';

.moduleA {
  h3 {
    padding-bottom: 24px;
    color: $black85;
    font-size: $font36;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
  }
  // 案例
  .detail-con {
    padding-top: 40px;
  }
  .detail-item {
    padding: 60px 0 70px;
  }
  &-line {
    width: 174px;
    display: block;
    margin: 0 auto;
  }
}
.itemsA {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .item {
    @extend %box;
    width: 280px;
    margin-bottom: 30px;
    padding: 20px 28px;
    .pic {
      height: 42px;
      margin-bottom: 12px;
      img {
        height: 100%;
        vertical-align: middle;
      }
    }
    h4 {
      margin-bottom: 14px;
      color: $black65;
      font-size: $font22;
      font-weight: 600;
    }
    p {
      color: $black65;
      font-size: $font14;
      line-height: 24px;
    }
  }
}


.box {
  @extend %box;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

// 分页
.page {
  margin-top: 60px;
  text-align: center;
  .prev, .next {
    display: inline-block;
    color: rgba($color: #000000, $alpha: .65);
    font-size: $font14;
    cursor: pointer;
  }
  .prev {
    margin-right: 32px;
  }
  i {
    display: inline-block;
    height: 34px;
    width: 34px;
    margin: 0 10px;
    color: rgba($color: #000000, $alpha: .65);
    vertical-align: middle;
    background-size: 34px;
    background-repeat: no-repeat;
    &.icon-prev {
      background-image: url("../image/common/icon-prev.png");
    }
    &.icon-next {
      background-image: url("../image/common/icon-next.png");
    }
  }
  a:hover {
    color: $blue;
    i {
      color: $blue;
      border-color: $blue;
      &.icon-prev {
        background-image: url("../image/common/icon-prev-active.png");
      }
      &.icon-next {
        background-image: url("../image/common/icon-next-active.png");
      }
    }
  }
}

// 底部蓝色条 start
.consulting {
  padding: 40px 10%;
  text-align: center;
  background-color: $blue;
  p {
    color: $white;
    font-size: $font28;
    font-weight: 600;
  }
  .btn {
    margin: 30px auto 0;
    @extend %buttonWhite;
    transform-origin: center top;
  }
}
// 底部蓝色条 end

@media screen and (max-width:960px) {
  %button {
    height: 44px;
    line-height: 44px;
  }
  .w1200 {
    width: 100%;
  }
  .itemsA .item {
    width: 48.5%;
  }
  .consulting {
    text-align: center!important;
    p {
      font-size: $font18;
    }
  }
}