@import './base.scss';

.moduleA {
  h3 {
    padding-bottom: 24px;
    color: $black85;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
  }
  // 案例
  .detail-con {
    padding-top: 40px;
  }
  .detail-item {
    padding: 60px 0 70px;
  }
  &-line {
    width: 174px;
    display: block;
    margin: 0 auto;
  }
}
.itemsA {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .item {
    @extend %box;
    width: 280px;
    margin-bottom: 30px;
    padding: 20px 28px;
    .pic {
      height: 42px;
      margin-bottom: 12px;
      img {
        height: 100%;
        vertical-align: middle;
      }
    }
    h4 {
      margin-bottom: 14px;
      color: $black65;
      font-size: 22px;
      font-weight: 600;
    }
    p {
      color: $black65;
      font-size: 14px;
      line-height: 24px;
    }
  }
}


.box {
  @extend %box;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

// 分页
.page {
  margin-top: 60px;
  text-align: center;
  .prev, .next {
    display: inline-block;
    color: rgba($color: #000000, $alpha: .65);
    font-size: 14px;
    cursor: pointer;
  }
  .prev {
    margin-right: 32px;
  }
  i {
    display: inline-block;
    height: 34px;
    width: 34px;
    margin: 0 10px;
    color: rgba($color: #000000, $alpha: .65);
    vertical-align: middle;
    background-size: 34px;
    background-repeat: no-repeat;
    &.icon-prev {
      background-image: url("../image/common/icon-prev.png");
    }
    &.icon-next {
      background-image: url("../image/common/icon-next.png");
    }
  }
  a:hover {
    color: $blue;
    i {
      color: $blue;
      border-color: $blue;
      &.icon-prev {
        background-image: url("../image/common/icon-prev-active.png");
      }
      &.icon-next {
        background-image: url("../image/common/icon-next-active.png");
      }
    }
  }
}

// 底部蓝色条
.consulting {
  padding: 40px 10%;
  text-align: center;
  background-color: $blue;
  p {
    color: $white;
    font-size: 28px;
  }
  .btn {
    margin: 30px auto 0;
    @extend %buttonWhite;
  }
}

@media screen and (max-width:1600px) {
  %button {
    height: 44px;
    line-height: 44px;
  }
}
@media screen and (max-width:1100px) {
  .w1200 {
    width: 100%;
    padding: 0 10%;
    margin: 0;
  }
  .itemsC {
    .item {
      .info {
        margin-left: 5%;
      }
    }
  }
}
@media screen and (max-width:800px) {
  .w1200 {
    padding: 0 5%;
  }
}
@media screen and (max-width:378px) {
  // .itemsA, .itemsB {
  //   .item {
  //     width: 100%;
  //   }
  // }
}
@media screen and (max-width:320px) {
  %button {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    i {
      font-size: 14px;
    }
  }
}