header{
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  position: absolute;
  z-index: 999;
  padding: 0 360px;
  height: 90px;
  box-sizing: border-box;
}
header nav{
  display: flex;
  align-items: center;
}
header nav a{
  font-size: 14px;
  color: #000;
  margin-right: 24px;
  display: flex;
  align-items: center;
}
header nav a i{
 font-size: 22px;
}
header nav .logo{
  width: 148px;
  height: 40px;
  margin-right: 60px;
}
.login{
  display: flex;
  align-items: center;
  color: #000;
}
.login .search{
  font-size: 16px;
  margin-right: 24px;
}
.login p:nth-child(2){
  margin-right: 24px;
}